/* VaultsTicker.module.css */

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.tickerContainer {
  overflow: hidden;
  width: 100%;
  background-color: #000;
  color: white;
  padding: 0.5rem 0;
}

.animateTicker {
  display: flex;
  gap: 1.5rem;
  animation: ticker 20s linear infinite;
  white-space: nowrap;
}

.tickerLink {
  text-decoration: none;
  color: inherit;
}

.tickerCard {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background: rgba(255, 255, 255, 0.05);   border-radius: 0.5rem;
  white-space: nowrap;
}

.vaultInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.chainInfo {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.tokenSymbol {
  font-size: 1rem;
  color: #ffffff;
}

.deposits {
  color: #39FF14;
  font-size: 0.9rem;
}

.yieldSource {
  color: #FF33F6;
  font-size: 0.9rem;
}

.yieldSourceLink {
  color: #FF33F6;
  font-size: 0.8rem;
  text-decoration: underline;
}
