# Mainnet RPC URLs
NEXT_PUBLIC_MAINNET_RPC_URL="https://eth.llamarpc.com"
NEXT_PUBLIC_OPTIMISM_RPC_URL="https://mainnet.optimism.io"
NEXT_PUBLIC_ARBITRUM_RPC_URL="https://arbitrum.llamarpc.com"
NEXT_PUBLIC_BASE_RPC_URL="https://base.llamarpc.com"
NEXT_PUBLIC_SCROLL_RPC_URL="https://scroll.drpc.org"
NEXT_PUBLIC_GNOSIS_RPC_URL="https://gnosis.drpc.org"